<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title> دوره خوشنویسی سطح عالی</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Meta Tag-->
    <meta name="description" content="دوره خوشنویسی سطح ممتاز">
    <!--Meta keyword-->
    <meta name="keyword" content="دوره خوشنویسی سطح ممتاز">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="site-logo mr-auto w-25"><a href="Main_page.html">خوشنویس</a></div>

                <div class="mx-auto text-center">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                            <li><a href="{% url 'index' %}" class="nav-link">برگشت به صفحه اصلی</a></li>
                            <li><a href="#dore_ha" class="nav-link">لیست دوره ها</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="ml-auto w-25">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                            <li class="cta"><a href="#contact_us" class="nav-link"><span>ارتباط با ما</span></a>
                            </li>
                        </ul>
                    </nav>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span
                            class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>

    </header>

    <div class="intro-section single-cover" id="home-section">

        <div class="slide-1 " style="background-image: url('/static/pics/hero_1.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row justify-content-center align-items-center text-center">
                            <div class="col-lg-6">
                                <h1 data-aos="fade-up" data-aos-delay="0" style="font-family: '2  Titr';font-size: 2em"> دوره خوشنویسی سطح عالی</h1>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class=" mb-5">

                    <div class="mb-5 text-center">
                        <h3 class="text-black">توضیحات این دوره</h3>
                        <p class="mb-4">
                            <strong class="text-black mr-3">متوسط زمان پایان دوره </strong> 10 هفته
                        </p>
                        <p class="strong">دوره سطح عالی، ورود به دنیای حرفه ای ها...</p>
                        <p>
                            دورهٔ عالی مرحلهٔ گذار و شکل‌گیری خط است؛ به این مفهوم که دیگر هنرجو از سبک استاد مشخصی پیروی می‌کند و مثلاً به شیوهٔ کلهر، یا میرعماد، یا امیرخانی یا اخوین... می‌نویسد.
                        </p>
                        <p>
                            به لحاظ درجاتی بالای خوش قرار گرفته است و آن خطی است كه از نظر اصول و قواعد و زیبایی ضعفی در آن دیده نشود و قطعات و مكتوباتی كه بدین پایه و مایه باشد دارای اهمیت و ارزش خواهد بود.
                        </p>

                        <div class="row mb-4 justify-content-center">
                            <div class="col-md-6">
                                <img src="{% static 'pics/3.png' %}" alt="Image" class="img-fluid rounded">
                            </div>
                        </div>
                        <p>*** لطفا پس از ثبت نام از صفحه کاربری خود استاد موردنظر را انتخاب فرمایید</p>
                        <p style="font-size: 1.5vw"><u><strong>هزینه دوره: 250 هزار تومان</strong></p>


                        <p class="mt-4"><a href="#" class="btn btn-primary">ثبت نام در دوره خوشنویسی سطح عالس</a></p>
                    </div>

                    <div class="pt-5">
                        <h3 class="mb-5">{{tickets_count}} نظر</h3>
                        <ul class="comment-list">
                            {% for ticket in tickets %}
                            <li class="comment">
                                <div class="vcard bio">
                                    <img src="{% static 'pics/Person.png' %}" alt="Image placeholder">
                                </div>
                                <div class="comment-body">
                                    <h3>{{ticket.name}}</h3>
                                    <!-- <div class="meta">5 مرداد 1399 ساعت 14:00</div> -->
                                    <p> {{ticket.text}} </p>

                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <!-- END comment-list -->

                        <div id="contact_us"  class="comment-form-wrap pt-5">
                            <h3 class="mb-5">به ما پیام دهید</h3>
                            <form action="" method="POST" class="p-5 bg-light">
                                <div class="form-group">
                                    {% csrf_token %}
                                    <label for="name">اسم *</label>
                                    <input name="ticket_name" type="text" class="form-control" id="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">ایمیل *</label>
                                    <input name="ticket_email" type="email" class="form-control" id="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="website">درگاه اینترنتی</label>
                                    <input name="ticket_website" type="text" class="form-control" id="website">
                                </div>

                                <div class="form-group">
                                    <label for="message">پیام</label>
                                    <textarea name="ticket_text" id="message" cols="30" rows="10" class="form-control" required></textarea>
                                </div>
                                <div class="form-group">
                                    <input name="ticket" type="submit" value="ثبت نظر" class="btn btn-primary">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div id="dore_ha"  class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row">

                <div class="owl-carousel col-12 nonloop-block-14">

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="Level_Motevasset.html"><img src="{% static 'pics/1.png' %}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">200 هزار تومان</span>
                            <div class="meta"><span class="icon-clock-o"></span>10 هفته</div>
                            <h3><a href="#"> دوره خوشنویسی سطح متوسط</a></h3>
                            <p>مناسب افرادی که میخواهند زیباتر بنویسند اولین قدم در یادگیری خوشنویسی </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users  d-inline-block"></span> 250 هنرجو
                            </div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 26</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="Level_khosh.html"><img src="{% static 'pics/2.png' %}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">200 هزارتومان</span>
                            <div class="meta"><span class="icon-clock-o"></span>12 هفته</div>
                            <h3><a href="#"> دوره خوشنویسی سطح خوش</a></h3>
                            <p> یادگیری اصول خوشنویسی </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users d-inline-block"></span>226 هنرجو</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 20</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="Level_Awli.html"><img src="{% static 'pics/3.png' %}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">250 هزار تومان</span>
                            <div class="meta"><span class="icon-clock-o"></span>10 هفته</div>
                            <h3><a href="#">دوره خوشنویسی سطح عالی</a></h3>
                            <p>ورود به دنیای حرفه ای ها - معادل مدرک فوق دیپلم</p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users d-inline-block"></span> 106 هنرجو</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 10</div>
                        </div>
                    </div>


                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="Level_Momtaz.html"><img src="{% static 'pics/4.png' %}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">250 هزار تومان</span>
                            <div class="meta"><span class="icon-clock-o"></span>12 هفته</div>
                            <h3><a href="#">دوره خوشنویسی سطح ممتاز </a></h3>
                            <p> حد اعلای خوشنویسی - معادل مدرک لیسانس </p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users d-inline-block ml-1"></span>12 هفته
                            </div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 8</div>
                        </div>
                    </div>

                    <div class="course bg-white h-100 align-self-stretch">
                        <figure class="m-0">
                            <a href="Level_Test.html"><img src="{% static 'pics/5.png' %}" alt="Image" class="img-fluid"></a>
                        </figure>
                        <div class="course-inner-text py-4 px-4">
                            <span class="course-price">20 هزار تومان</span>
                            <div class="meta"><span class="icon-clock-o"></span>*</div>
                            <h3><a href="#">آزمون تعیین سطح</a></h3>
                            <p>توسط اساتید ما تعیین سطح شده و نقطه شروغ مناسب را انتخاب کنید.</p>
                        </div>
                        <div class="d-flex border-top stats">
                            <div class="py-3 px-4"><span class="icon-users d-inline-block"></span> 2,193 هنرجو</div>
                            <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 12</div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="row justify-content-center">
                <div class="col-7 text-center">
                    <button class="customPrevBtn btn btn-primary m-1">بعدی</button>
                    <button class="customNextBtn btn btn-primary m-1">قبلی</button>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>در مورد خوشنویس</h3>
                    <p>خوشنویس در سال 1399 با هدف ترویج هنر خوشنویسی در جامعه فعالیت خود را در زمینه آموزش آنلاین خوشنویسی
                        آغاز نمود. این استارت آپ
                        با هدف جلب رضایت مشتریان خود و ارائه خدمات برتر همواره کوشیده است تا با بهره گیری از اساتید بنام و
                        بروزرسانی مرتب روش های آموزشی خود جزء بهترین ها باشد.

                    </p>
                </div>

                <div class="col-md-3 ml-auto">
                    <h3>لینک ها</h3>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#">خانه</a></li>
                        <li><a href="#">دوره های آموزشی</a></li>
                        <li><a href="#">برنامه ها</a></li>
                        <li><a href="#">اساتید</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3>اشتراک</h3>
                    <p>برای عضویت در خبرنامه در کادر زیر ایمیل خود را وارد کنید</p>
                    <form action="#" class="footer-subscribe">
                        <div class="d-flex mb-5">
                            <input type="text" class="form-control rounded-0" placeholder="ایمیل">
                            <input type="submit" class="btn btn-primary rounded-0" value="اشتراک">
                        </div>
                    </form>
                </div>

            </div>

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        CopyRight &copy;<script>document.write(new Date().getFullYear());</script>
                        All Rights reserved
                    </div>
                    <p>Made with <span class="icon icon-heart"></span> in Isfahan By BDS</p>

                </div>
            </div>

        </div>
    </footer>

</div> <!-- .site-wrap -->

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>


<script src="{% static 'js/main.js' %}"></script>

</body>
</html>